<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.philadams.vio">

  <application android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@drawable/vio_fill_shape"
      android:theme="@style/AppTheme">

    <activity android:name=".VIOActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service android:name=".VIOService" />

    <service android:name=".VIOAPIIntentService" />

    <!--<receiver android:name="VIOWidgetProvider">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>
      <meta-data android:name="android.appwidget.provider"
          android:resource="@xml/widget_info"/>
    </receiver>

    <service android:name=".VIOAPIService"/> -->

  </application>

  <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
